{{ attach_library('vault_cyber/hero-image') }}

<section class="bg-white dark:bg-gray-800 relative overflow-hidden">

  <div class="container mx-auto px-6 py-12">

    <div class="flex flex-col lg:flex-row items-center gap-10">

      {# IMAGE COLUMN #}
      {% if content.field_image %}
        <div class="w-full lg:w-1/4
                    order-1 lg:order-2
                    max-w-5xl mx-auto lg:mx-0">

         <div class="overflow-hidden rounded-xl bg-gray-200

            [&_.lazy-image_img]:w-full
            [&_.lazy-image_img]:h-full
            [&_.lazy-image_img]:object-cover
            [&_.lazy-image_img]:object-center

            [&_.lazy-image_img]:blur-lg
            [&_.lazy-image_img]:scale-105
            [&_.lazy-image_img]:transition-all
            [&_.lazy-image_img]:duration-700
            [&_.lazy-image_img]:ease-out

            [&_.lazy-image.is-loaded_img]:blur-0
            [&_.lazy-image.is-loaded_img]:scale-100">

            {{ content.field_image|add_class('lazy-image') }}

          </div>

        </div>
      {% endif %}

      {# TEXT COLUMN #}
      <div class="w-full h-full lg:w-3/4
                  order-2 lg:order-1
                  text-center lg:text-left
                  flex flex-col">

        <span class="w-12 h-1 bg-gray-800 mx-auto lg:mx-0 mb-6"></span>

        {% if content.field_headline %}
          <h1 class="font-orbitron uppercase
                     text-3xl sm:text-4xl lg:text-5xl
                     font-black leading-none text-gray-800">
            {{ content.field_headline }}
          </h1>
        {% endif %}

        {% if content.field_subhead %}
          <p class="font-orbitron text-lg sm:text-xl lg:text-2xl
                    text-gray-700 mt-4 max-w-2xl mx-auto lg:mx-0">
            {{ content.field_subhead }}
          </p>
        {% endif %}

      </div>

    </div>

  </div>

</section>