@import "./mobile-menu.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* =====================
   BASE
===================== */
@layer base {
  html, body {
    @apply bg-white text-slate-900;
  }

  a {
    @apply text-pink-400;
  }
  .vault-button-primary a {
    @apply text-white;
  }
  .vault-button-secondary a {
    @apply text-pink-400;
  }
}
/* =====================
   COMPONENTS
===================== */
@layer components {
  /* Help with drupal buttons */
  button,
  input,
  optgroup,
  select,
  textarea {
    @apply my-3 px-4 py-3;
  }
}

.vault-login-box {
    max-width:600px;
    margin:30px auto 15px;
}
.vault-login-box label {
    color:white;
}
.bg-color-primary {
    background-color: white;
}
.bg-color-secondary {
    background-color:#f2e5e5;
}
.bg-color-tertiary {
    background-color: rgb(251, 212, 219);
}