<div class="min-h-screen flex flex-col">

  {% if page.header %}
    <header class="sticky top-0 z-50 bg-white border-b border-white/20">
      <div class="w-full px-6 py-4 text-black">
        {{ page.header }}
      </div>
    </header>
  {% endif %}

  <div class="flex-1 w-full grid gap-8 md:grid-cols-12">
      <main id="main-content" class="md:col-span-12">
          {{ page.content }}
      </main>
  </div>

  {% if page.footer %}
    <footer class="border-t border-slate-800 bg-slate-900">
      <div class="px-6 py-6 text-sm text-slate-400">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>
